
#line_container {
    display: grid;
    grid-template-columns: 3px 70%;
    gap: 40px;
}

#line {
    height: 100vh;
    width: 3px;
    background-color: #d4d4d4;
}

#first_title_line {
    font-size: 66px;
}

.tile_headings {
    padding-left: 20px;
    z-index: 2;
}

#second_title_line {
    font-size: 66px;
    color: #a42d30;
}

#tile_container {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden; /* hides the tiles that slide out of view */
    padding-top: 150px;
    padding-bottom: 50px;
}

.carousel_chevrons {
    position: absolute;
    right: 0;
    top: 15%;
    display: flex;
    gap: 10px;
    z-index: 10;
}

#carousel_left_chevron, #carousel_right_chevron {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

svg {
    width: 25px;
    height: 25px;
}

#carousel_left_chevron:hover, #carousel_right_chevron:hover {
    cursor: pointer;
    background-color: #e5e5e5;
}

#carousel_track {
    position: relative;
    display: flex;
    gap: 20px;
    transition: transform 400ms ease; 
    width: 100%;
    max-width: 1930px;
}

.tile {
    flex: 0 0 calc((100% - 2 * 20px)/3);
    height: 350px;
    background-color:#f4f4f4;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}


.heading_container {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.number_container {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color:#333434;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.number_container p {
    color:#f4f4f4;
    font-size: 18px;
    font-weight: bold;
}

.tile_line {
    position: absolute;
    top: -10px;
    width: 100%;
    height: 2px;
    background-color: #333434;
}

.tile_line_bottom {
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background-color: #333434;
    transition: width 300ms ease;
}

.tile_chevron {
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    border: 2px solid #333434;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile_chevron:hover {
    cursor: pointer;
}

.tile_chevron svg {
    opacity: 1;
    transition: opacity 250ms ease;
}

.tile_chevron.fading svg {
    opacity: 0;
}


.chevron-hover {
    color: #f4f4f4;
    border: 2px solid #f4f4f4;
}

#accordion {
    position: relative;
    top: -40px;
    left: 0;
    width: 100%;
    height: 300px;
}

#accordion_line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color:#333434;

    opacity: 0;
    top: 0;
    transition: 
    opacity 400ms ease,
    transform 400ms ease;
    filter: 300ms ease;

}

.accordion_content {
    position: absolute;
    opacity: 0;
    display: block;
    height: auto;
    width: auto;
    transition: none;
    pointer-events: none;
}

.accordion_content.open {
    opacity: 1;
    transition: opacity 400ms ease 200ms;
    pointer-events: auto;
}

.content_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    width: 100%;
}

.accordion_content {
    width: 100%;
}

h3 {
    font-size: 32px;
}

li {
    font-size: 24px;
}

#Team_Container {
    display: grid;
    max-width: 1500px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: 250px;
}

.Team_Member {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.photo {
    width: 30%;
    border: solid 2px #333434;
    flex-shrink: 0;
    height: 100%;
    max-width: 250px;
}

.contact p {
    font-size: 26px;
    flex-shrink: 1;
    margin: 0;
    
}

.tile_content_descriptions {
    margin-top: 40px;
}

.tile_content_descriptions h2 {
    padding-left: 20px;
}

.tile-headings-hover {
    color:#f4f4f4;
    z-index: 3;
}

.number-container-hover {
    background-color:#f4f4f4;
}

.number_container p.number-container-hover {
    color:#333434 !important;
}

.tile_content_descriptions {
    top: 10%;
    position: absolute;
    opacity: 0;
    color:#f4f4f4;
    z-index: 1;
}

.tile_content_descriptions_hover {
    opacity: 1;
}

.overlay {
    position: absolute;
    background-color: #333434;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 0;
}

.overlay-hover {
    opacity: .85;
}

#tile1 {
    background-image: url("https://hopenetworkit.sharepoint.com/sites/One/services/rehabilitationservices/QualityAndCompliance/Images1/Safety.png");
}

#tile2 {
    background-image: url("https://hopenetworkit.sharepoint.com/sites/One/services/rehabilitationservices/QualityAndCompliance/Images1/Risk-Tile-Image.png");
}

#tile3 {
    background-image: url("https://hopenetworkit.sharepoint.com/sites/One/services/rehabilitationservices/QualityAndCompliance/Images1/Patient%20Experience%20(1).png");
}

#tile4 {
    background-image: url("https://hopenetworkit.sharepoint.com/sites/One/services/rehabilitationservices/QualityAndCompliance/Images1/Compliance.png");
}

#tile5 {
    background-image: url("https://hopenetworkit.sharepoint.com/sites/One/services/rehabilitationservices/QualityAndCompliance/Images1/Improvement.png");
}

#tile6 {
    background-image: url("https://hopenetworkit.sharepoint.com/sites/One/services/rehabilitationservices/QualityAndCompliance/Images1/Data.png");
}

.tile_img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.tile_img_hover {
    opacity: 1;
}

.overlay-accent {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 33%;
    background-color:#c74848;
    opacity: 0;
    z-index: 5;
}

.overlay-accent-hover {
    opacity: 1;
}

h3 {
    color:#c74848;
}

a {
    text-decoration: none;   /* removes underline */
    color: inherit;          /* uses the parent text color */
}

a:visited {
    color: inherit;          /* prevents purple visited color */
}

a:hover,
a:active,
a:focus {
    text-decoration: none;   /* keeps underline from returning */
    color: inherit;          /* prevents hover color change */
}

#page-description {
    font-size: 24px;
    margin-top: 50px;
    font-style: italic;
}

.information-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    display: flex;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 3;
}

.information-icon svg {
    width: 100%;
    height: 100%;
    fill:#f4f4f4;
}

.information-icon-hover {
    opacity: 1;
    cursor: pointer;
}

.information-icon svg:hover {
    fill:#e5e5e5;
}

i {
    font-size: 22px;
}

.tile-line-information {
    width: 100%;
    transition: width 0.3s ease;
}


#more-information-container {
    position: absolute;
    top: 40px;
    height: 100px;
    width: 66.2%;
    overflow: hidden;
    display: flex;
    align-items: center;
    
}

#information-top-line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color:#333434;
    bottom: 0;
    left: 0;
    transition: transform 0.4s ease;
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.information-icon-txt {
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.information-icon-text-open {
    opacity: 1;
    transition-delay: 0.2s;
}

